*{
    padding: 0 !important; 
    margin: 0 !important;
    box-sizing: border-box !important;
}
.middle_searchbar{
    position: relative;
} 
.search_btn{
    background-color: black;
    color: white;
    padding: 3px 30px !important;
    border-radius: 8px;
    border: 2px solid black;
    position: absolute;
    right: 28.5%;
    font-size: 12px;
}
.search_btn:hover{
    background-color: white;
    color: #6e5f38;
    border: 2px solid green;
    font-weight: bold;
}
.search_bar{
    width: 320px;
    border-radius: 8px;
}

.navbar div{
    width: 50px;
    text-align: center;
}
.navbar a{
    display: flex;
    font-size: 16px;
}
.navbar a:hover{
    cursor: pointer;
}

/* -- Navbar Bottom --  */
.heading_main{  
    display: flex;
    align-items: center;
    height: 2.4rem;
    background-color: #6e5f38;
    font-size: 18px;
    color: white;
    text-shadow:1px 1px 5px #AED581;
    padding: 16px;
}
.heading_main p:hover{
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
    text-shadow: none;
    color: palevioletred;
    background-color: white;
    margin: 20px;
    text-shadow: 2px 4px 4px white;
    background-color: white ;
    margin: 0px 14px !important;
}


/* -- body -- */
.body_main{
    position: relative;
}
#back{
    background-blend-mode: darken;
    height: 76vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    filter: brightness(52%);
}

/* .body_main{
    background: rgba(0,0,0,0.3) url(./background.jpg);
    background-blend-mode: darken;
    height: 70vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center ;
    position: relative;
} */

.body_main h1{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 1px 4px #AED581, 1px 3px 1px black;
    height: 120px;
    width: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.body_main h1::after{
    content: "";
    width: 25%;
    height: 45%;
    position: absolute;
    border-bottom: 5px solid green;
    border-right: 5px solid greenyellow;
    bottom: 0;
    right: 0;
}
.body_main h1::before{
    content: "";
    width: 25%;
    height: 45%;
    position: absolute;
    border-top: 5px solid green;
    border-left: 5px solid greenyellow;
    top: 0;
    left: 0;
}

/* -- sencond part of the body --  */
.body_second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.sale_1{
    background-color: palevioletred;
    color: white;
    font-weight: bold;
    padding: 8px 14px !important;
    font-size: 32px;
}
.body_second h1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 4px!important;
}

/* .body_main p{
    padding: 0px 200px;
    padding-top: 16px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #AED581, 1px 1px 5px greenyellow;
}  */

/* -- Footer -- */
.footer{
    font-size: 14px;
}

.footer_bot ul{ 
    align-items: center;
}